target/
*~
*largeEWD.txt.gz
TODO.txt
*-gh/
*.osm
docs/
nbactions-*.xml
config.properties
build.xml
queries.sh
maven/
measurement*.properties
files/live_measurement.sh
gen/
bin/
*.map
scripts/googlecode_upload.py
deploy.sh
android/libs/graphhopper-*-android.jar