target/
*~
*-gh/
*.osm
nbactions*.xml
/config.yml
build.xml
queries.sh
maven/
measurement*.properties
gen/
bin/
*.map
android/libs/graphhopper-*-android.jar
*/nbactions.xml
.idea
.idea/
*iml
debug.sh
/web/src/main/resources/assets/js/main.js
/web/src/main/resources/assets/js/config/options_prod.js
/web/dependency-reduced-pom.xml
/web/node
*.pbf
!/reader-osm/src/test/resources/com/graphhopper/reader/osm/*.pbf
*.dem
*.log
srtmprovider/
cgiarprovider/
.*#
/nbactions.xml
android/build/
android/app/build/
android/.gradle
.settings/
.classpath
.project
local.properties
**/node_modules
*.zip
.DS_Store
/graph-cache
package-lock.json