variables:
  MAVEN_CLI_OPTS: ""
  MAVEN_OPTS: "-Dmaven.repo.local=cache/.m2/repository"

cache:
  paths:
    - cache/.m2/repository/

run_measurement:
  stage: test
  tags:
    - openjdk11
  script:
    # make this script exit if a command fails, a variable is missing etc.
    - set -euo pipefail
    - mvn -v
    - java --version
    - cat /proc/meminfo
    - lscpu
    - export BENCHMARK_DIR=/ext_data/
    - export BENCHMARK_RESULT_DIR=${BENCHMARK_DIR}results/$(date '+%d-%m-%Y-%s%N')/
    - export BENCHMARK_SMALL_MAP_NAME=bayern-190101.osm.pbf
    - export BENCHMARK_SMALL_MAP_URL=http://download.geofabrik.de/europe/germany/${BENCHMARK_SMALL_MAP_NAME}
    - export BENCHMARK_SMALL_MAP_PATH=${BENCHMARK_DIR}osm/${BENCHMARK_SMALL_MAP_NAME}
    - export BENCHMARK_BIG_MAP_NAME=germany-190101.osm.pbf
    - export BENCHMARK_BIG_MAP_URL=http://download.geofabrik.de/europe/${BENCHMARK_BIG_MAP_NAME}
    - export BENCHMARK_BIG_MAP_PATH=${BENCHMARK_DIR}osm/${BENCHMARK_BIG_MAP_NAME}
    - export USE_MEASUREMENT_TIME_AS_REF_TIME=${PERIODIC_BUILD:-false}
    - mkdir -p ${BENCHMARK_DIR}osm
    - mvn $MAVEN_CLI_OPTS package -DskipTests -pl tools -am
    - chmod +x -R benchmark
    - benchmark/download_map.sh $BENCHMARK_SMALL_MAP_URL $BENCHMARK_SMALL_MAP_PATH
    - benchmark/download_map.sh $BENCHMARK_BIG_MAP_URL $BENCHMARK_BIG_MAP_PATH
    - benchmark/benchmark.sh $BENCHMARK_DIR $BENCHMARK_RESULT_DIR $BENCHMARK_SMALL_MAP_PATH $BENCHMARK_BIG_MAP_PATH $USE_MEASUREMENT_TIME_AS_REF_TIME
    - benchmark/post_benchmark.sh $BENCHMARK_RESULT_DIR $BENCHMARK_DB_USER $BENCHMARK_DB_PWD $BENCHMARK_DB_URL
    - rm -rf $BENCHMARK_RESULT_DIR
