target/
*~
*largeEWD.txt.gz
TODO.txt
*-gh/
*.osm
nbactions-*.xml
config.properties
build.xml
queries.sh
maven/
measurement*.properties
live_graphhopper.sh
gen/
bin/
*.map
scripts/googlecode_upload.py
deploy.sh
android/libs/graphhopper-*-android.jar
*/nbactions.xml
.idea/
*iml
debug.sh
*.pbf
*.dem
*.log
core/TODO*.txt
srtmprovider/
core/docs/
.*#