version: '{build}'
skip_tags: true
clone_depth: 10
image: Visual Studio 2022
environment:
  MAVEN_OPTS: -Xmx1g
  JAVA_OPTS: -Xmx1g
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - java -version
  - mvn --version
branches:
  only:
    - master      
build_script:
  - mvn clean install -DskipTests=true -B
test_script:
  - mvn test verify -B && mvn checkstyle:check forbiddenapis:check -B
cache:
  - C:\maven\
  - C:\Users\appveyor\.m2
artifacts:
- path: web/target/*.jar