<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="stdout"/>
    </appender>    
    <logger name="com.graphhopper" additivity="false">
        <level value="info" />
        <appender-ref ref="ASYNC" />
    </logger>
    <logger name="org.eclipse" additivity="false">
        <level value="info" />
        <appender-ref ref="ASYNC" />
    </logger>
    <root>
        <priority value="info"></priority>
        <appender-ref ref="ASYNC"/>
    </root>
</log4j:configuration>