target/
track-data/
*~
test-input.gpx
test.gpx
graph-cache/
nbactions.xml
*pbf
.idea/
*iml
.settings/
.classpath
.project
matching-vaadin/src/main/webapp/
matching-core/build.xml
/map-data/**/*
bin/
measurement*
/matching-core/nbproject/
