files:
    "/extract.sh" :
        owner: root
        group: root
        content: |
            #!/bin/bash
             
            # This assumes there is already a tar.bz2 file called itnfull.tar.bz2 in /
            
            # Remove existing data
            rm -rf itn-gh
             
            # Extract the route data
            tar xvjf itnfull.tar.bz2 -C /
            
            # Change the owner to tomcat
            chown -R tomcat:tomcat itn-gh
            
            # Remove the existing config.properties so it can be replaced
            rm -f /config.properties
    
        mode: "000755"

commands:
    01-install-awscli:
        command: easy_install awscli
    02-download-s3-asset:
        command: aws s3 cp --region eu-west-1 s3://graphhopper/itnfull.tar.bz2 .
    03-run-extract-script:
        command: bash /extract.sh 
    04-download-s3-config-properties:
        command: aws s3 cp --region eu-west-1 s3://graphhopper/config.properties .
         
         