files:
    "/extract.sh" :
        owner: root
        group: root
        mode: "000755"
        content: |
            #!/bin/bash
            # Remove the existing config.properties so it can be replaced
            rm -f /config.properties
            #fetch the preingested routing data
            AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY} aws s3 cp --region eu-west-1 s3://${CONFIG_BUCKET}/${ROUTING_ARCHIVE} .
            #fetch applicatio config file
            AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY} aws s3 cp --region eu-west-1 s3://${CONFIG_BUCKET}/${ROUTING_CONFIG} /config.properties
            
            # This assumes there is already a tar.bz2 file called ${ROUTING_ARCHIVE} in /
            # Remove existing data
            rm -rf ${graphhopper_graph_location}

            # Extract the route data
            tar xvjf ${ROUTING_ARCHIVE} -C /

            # Change the owner to tomcat
            chown -R tomcat:tomcat ${graphhopper_graph_location}
            
           


commands:
    01-install-awscli:
        command: easy_install awscli
    02-create-post-dir:
        command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
        ignoreErrors: true
    03-download-s3-asset-for-post:
        command: aws s3 cp --region eu-west-1 s3://${CONFIG_BUCKET}/env_vars.sh /opt/elasticbeanstalk/hooks/appdeploy/post/99_update_osplaces_key.sh
    04-set-execute-post:
        command: chmod a+x /opt/elasticbeanstalk/hooks/appdeploy/post/99_update_osplaces_key.sh    
                         


container_commands:
    download-s3-asset-and-extract:
        command: /extract.sh 
    
         
