version: '2'
services:
    graph-hopper:
        container_name: osm-graph-hopper
        build: ../../
        volumes:
            - ../../data:/data
        environment:
            JETTY_PORT: 11111
            JAVA_OPTS: "-server -Xconcurrentio -Xmx1g -Xms1g -XX:+UseG1GC -XX:MetaspaceSize=100M"
        ports:
            - "11111:11111"
        command: /data/europe_germany_berlin.pbf
