html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.appWrapper {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  height: 100%;
}

.sidebar {
  height: 100%;
  flex: 1;
  max-width: 30rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.map {
  height: 100%;
  flex: 2;
}
