.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 27rem;
}

.logo {
  padding: 1rem 1rem 0 1rem;
}

.spinnerContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.spinner {
  flex: 1;
  margin: 0 auto;
  width: 6rem;
  height: 3rem;
  text-align: center;
  font-size: 0.8rem;
}

.spinner > div {
  background-color: #015eaf;
  height: 100%;
  width: 6px;
  margin: 1px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
