.heightgraph-container {
    background-color: rgba(250,250,250,.8);
    border-radius: 10px;
    display: none;
    cursor: default;
    user-select: none;
}

.heightgraph-toggle {
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
    border-radius: 5px;
    width: 28px;
    height: 28px;
    background: #f8f8f9;
    display: block;
}

.heightgraph-toggle-icon {
    background: url(images/area-chart.svg) no-repeat center center;
    background-size: 14px 14px;
    width: 26px;
    height: 26px;
    position: absolute;
}

.heightgraph-close-icon {
    background: url(images/remove.svg) no-repeat center center;
    background-size: 14px 14px;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    display: none;
    cursor: pointer;
}

.border-top {
    fill: none;
}

.legend-hover {
    cursor: pointer;
}

.legend-text {
    fill: #000;
    font-size: 10px;
    cursor: pointer;
}

.tick, .tick text {
    fill: #000;
    pointer-events: none;
}

.axis .tick line {
    visibility: hidden;
    pointer-events: none;
}

.axis path {
    stroke: black;
    fill: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
    pointer-events: none;
}

.focusbox {
    display: none;
    font-size: 10px;
    fill: #000;
    pointer-events: none;
}

.focusbox rect {
    fill: rgba(255, 255, 255, 0.8);
    stroke-width: 1px;
    stroke: #888;
    pointer-events: none;
}

.focusbox text {
    font-size: 12px;
}

.focusLine line {
    stroke-width: 1px;
    stroke: rgb(20, 20, 20);
    display: none;
    cursor: default;
    shape-rendering: crispEdges;
}

.height-focus.label rect {
    fill: rgba(255, 255, 255, 0.5);
    stroke-width: 1px;
    stroke: #888;
    pointer-events: none;
    shape-rendering: crispEdges;
}

.height-focus.line {
    stroke: rgb(20, 20, 20);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.height-focus.circle {
    stroke: #FFF;
    stroke-width: 1px;
}

.mouse-height-box-text{
    font-size: 12px;
}

.grid .tick {
    pointer-events: none;
}

.grid .tick line {
    stroke: #EEE;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
    pointer-events: none;
}

.tspan {
    font-weight: bold;
}

.select-symbol {
    cursor: pointer;
}

.select-info {
    cursor: default;
}

.lineSelection {
    cursor: move;
}