body {                
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    line-height: 1.4;    
    color: #111111;
    background-color: #EEEEEE;
    margin: 0;
}
#map {
    /*    float: right;*/
    width: 800px;
    height: 600px;
    cursor: default;
}
#input {
    float: left;                
    padding-left: 10px; 
    padding-right: 15px; 
}

#info {
    margin-top: 10px;
    border: lightgray groove thin;
    display: none;
    padding: 5px;
    overflow: auto;
}
#info a {
    padding-right: 5px;
}
#input, #instructions {
    width: 255px;
}
#fromInput, #toInput {
    width: 225px;
    float: right;    
}

#fromResolveFound a, #toResolveFound a {
    background-color: white;
    padding-left: 4px;
    padding-right: 3px;    
}
#fromResolveFound, #toResolveFound {
    overflow: hidden;
    max-height: 24px;
    font-size: 10px;
    color: blue;
    float: right;
    cursor: pointer;    
    margin-top: -20px;
    margin-right: 2px;    
}

#fromResolveError, #toResolveError {
    float: right;
    font-size: 12px;
    padding-bottom: 4px;
}

.boxSizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.warn {
    color: orange;
}
.error, #fromResolveError, #toResolveError {
    color: red;
}
#moreattribution a {
    text-decoration: none;
    color: black
}
#moreattribution {
    padding-top: 20px;
    color: #666666                    
}
#locationpoints {
    padding-bottom: 10px;
}
#fromDiv img, #toDiv img {
    margin-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
}
.left {
    float: left;
}
#routeDetails {
    padding: 20px;
    font-size: 12px;
}
.hidden {
    display: none;
}
.no_link {
    text-decoration: none;
    color: black;
}
.no_link img {
    margin-bottom: -10px;
}
.small_text {
    font-size: small;
}
#options {
    padding-bottom: 10px;
    padding-left: 20px;
}
.bold {
    font-weight: bold;
}
#header_img {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}
#header_img img {
    width: 230px;
}
#gpxExportButton {
    margin-top: -3px;
}
#gpxExportButton img {
    padding-left: 6px;
}
#searchButton {
    float: right;
    margin-bottom: 5px;
}
.clear {
    clear: both;
}
#hosting {
    display: none;
/*    float: left;*/
    padding-top: 4px;
    padding-bottom: 10px;
    /* color: #666666; */
    font-size: smaller;
    opacity: 0.8;
}
#hosting a {
    text-decoration: none;
    color: #00cc33;
}
#exportLink {
    float: left;
}
.instruction {    
    padding-top: 5px;
    padding-bottom: 5px;
}
tr.instruction td {    
    border-bottom: #dadada dashed thin;
}
#instructions {
    border-collapse: collapse;
    padding-top: 10px;
    width: 100%;
    font-size: smaller;
}
#instructions th, #instructions td {
    padding: 3px;
}
.instr_title {    
}
.instr_distance_td {
    min-width: 40px;
}
.instr_distance {
    float: right;    
    color: gray;
    text-align: right;
}
.instr_pic {    
    max-height: 24px;
    max-width: 16px;
}

.vehicle-btn {
    padding: 0;
    width: 32px;
    height: 32px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}

.vehicle-btn img {
    width: 24px;
    height: 24px;
}

.selectvehicle {
    // background-clip: padding-box;
    background-color: #bbb;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to bottom, #9f9f9f, #e7e7e7);    
}

.complete-1, .complete-2 { border: 1px solid #999; background: #FFF; overflow: auto; }
.complete-1 strong, .complete-2 strong { font-weight: normal; /*color: #3399FF;*/; color: #04B431; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; font-size: 12px; }
.autocomplete-selected { background: #e7e7e7; }
.light { font-weight: lighter; color: #9f9f9f; font-size: smaller }
.wikilink { float: right; }
.wikilink img { max-width: 16px; }

.roadseg {}
.cityseg {}
.moreseg { font-size: 9px; }

#expandDetails {
    color: gray;
    font-size:14px; 
    float: right;
    font-weight: bold;    
    
    width: 20px;
    height: 20px;    
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}