body {                
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    line-height: 1.4;    
    color: #111111;
    background-color: #EEEEEE;
    margin: 0;
}
#map {
    /*    float: right;*/
    width: 800px;
    height: 600px;
    cursor: default;
}
#input {
    float: left;                
    padding-left: 10px; 
    padding-right: 15px; 
}

#info {
    border: lightgray groove thin;
    display: none;
    padding: 5px;
    overflow: auto;
}
#info a {
    padding-right: 5px;
}
#input, #instructions {
    width: 255px;
}
#fromInput, #toInput {
    width: 230px;
}
#fromFound, #toFound {
    overflow: hidden;
    max-height: 24px;
    font-size: 10px;
    color: gray;
    padding-top: 4px;
    padding-bottom: 5px;
}
.warn {
    color: orange;
}
.error {
    color: red;
}
#moreattribution a {
    text-decoration: none;
    color: black
}
#moreattribution {
    padding-top: 20px;
    color: #666666                    
}
#fromDiv img, #toDiv img {
    margin-top: 4px;
    padding-right: 3px;                
    float: left;
}
.left {
    float: left;
}
#routeDetails {
    font-size: 12px;
}
.hidden {
    display: none;
}
.no_link {
    text-decoration: none;
    color: black;
}
.no_link img {
    margin-bottom: -10px;
}
.small_text {
    font-size: small;
}
#options {
    padding-bottom: 10px;
    padding-left: 20px;
}
.bold {
    font-weight: bold;
}
#header_img {
    padding-top: 15px;
    padding-bottom: 15px;
}
#header_img img {
    width: 200px;
}
#searchButton {
    float: right;
    margin-bottom: 5px;
}
.clear {
    clear: both;
}
#hosting {
    padding-top: 10px;
    color: gray;                
}
#hosting a {
    color: gray;                
}

.instruction {    
    padding-top: 5px;
    padding-bottom: 5px;
}
tr.instruction td {
    border-bottom: beige groove thin;
}
#instructions {
    border-collapse: collapse;
    padding-top: 10px;
    width: 100%;
    font-size: smaller;
}
#instructions th, #instructions td {
    padding: 3px;
}
.instr_title {    
}
.instr_distance_td {
    min-width: 40px;
}
.instr_distance {
    float: right;    
    color: gray;
    text-align: right;
}
.instr_pic {    
    max-height: 24px;
    max-width: 16px;
}

.vehicle-btn {
    padding: 0;
    width: 32px;
    height: 32px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}

.vehicle-btn img {
    width: 24px;
    height: 24px;
}

.selectvehicle {
    // background-clip: padding-box;
    background-color: #bbb;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to bottom, #9f9f9f, #e7e7e7);    
}