.white-theme.leaflet-control.elevation .background
{
  background-color: rgba(250,250,250,.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.white-theme.leaflet-control.elevation .axis line,
.white-theme.leaflet-control.elevation .axis path
{
  fill: none;
  stroke: #0d1821;
  stroke-width: 2;
}
.white-theme.leaflet-control.elevation .mouse-drag
{
  fill: #00cc33;
  opacity: 0.2;
}
.white-theme.leaflet-control.elevation .elevation-toggle
{
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0,0,0,.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: #f8f8f9;
}
.white-theme.leaflet-control.elevation .elevation-toggle-icon
{
  background: url(images/elevation.png) no-repeat center center;
}
.white-theme.leaflet-control.elevation .area
{
  fill: #00cc33;
  opacity: 0.8;
}
.white-theme.leaflet-control.elevation .mouse-focus-line
{
  pointer-events: none;
  stroke-width: 1;
  stroke: #0d1821;
}
.white-theme.leaflet-control.elevation-collapsed .background
{
  display: none;
}
.white-theme.leaflet-control.elevation-collapsed .elevation-toggle
{
  display: block;
}
.white-theme.height-focus
{
  stroke: #4682b4;
  fill: #4682b4;
}
.white-theme.height-focus.line
{
  pointer-events: none;
  stroke-width: 2;
}
