# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Create and publish a Docker image

on:
  push:
    branches: ['master']
    tags: ['v*']
  pull_request:
    branches: ['master']
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  call-workflow-build-publish-docker-image:
    uses: bikehopper/github-workflows/.github/workflows/build-publish-docker-image.yml@main
    secrets: inherit
